Repository BenJ3D/ft_transcendence, pull requests merged in 2023-10, with the labels that each got.

#156 Leaderboard
  front-end/public/podium.svg
  front-end/src/app/globals.css
  front-end/src/components/CustomButtonComponent.tsx
  front-end/src/components/HomePageComponent.tsx
  front-end/src/components/LeaderboardComponent.tsx
  front-end/src/components/api/ApiReq.ts
  front-end/src/shared/routesApi.ts
  front-end/src/shared/types.ts
Labels: Front

#157 Avatar
  back-end/package-lock.json
  back-end/package.json
  back-end/src/dto/user/update-user.dto.ts
  back-end/src/main.ts
  back-end/src/module.users/users.controller.ts
  back-end/src/module.users/users.service.ts
  front-end/src/app/globals.css
  front-end/src/components/2FA/2FAstyleSheet.css
  front-end/src/components/AvatarComponent.tsx
  front-end/src/components/ProfileComponent.tsx
  front-end/src/components/StatsComponent.tsx
  front-end/src/components/api/ApiReq.ts
  front-end/src/shared/routesApi.ts
Labels: Front, Back

#158 Update User WS
  back-end/src/module.auth/auth.guard.ts
  back-end/src/module.auth/auth.service.ts
  back-end/src/module.channels/channel.service.ts
  back-end/src/module.channels/chat.ws.ts
  back-end/src/module.users/users.service.ts
Labels: Front, Back

#188 [FIX] Warning: fonts preload
  front-end/src/app/auth/Auth.tsx
  front-end/src/app/auth/InputPod.tsx
  front-end/src/app/globals.css
  front-end/src/app/layout.tsx
  front-end/src/components/(ben_proto)/DevTools/button/btn_dbg.tsx
  front-end/src/components/HomePageComponent.tsx
  front-end/src/components/ProfileComponent.tsx
  front-end/src/components/chat/chat.css
  front-end/src/components/waiting/LoadingComponent.tsx
  front-end/src/shared/types.ts
Labels: Front

#202 [FIX] Liste des users dans un salon
  front-end/src/app/globals.css
  front-end/src/components/2FA/2FAstyleSheet.css
  front-end/src/components/HomePageComponent.tsx
  front-end/src/components/LeaderboardComponent.tsx
  front-end/src/components/UserListComponent.tsx
  front-end/src/components/chat/chat.css
  front-end/src/components/chat/subComponents/ChatChannelList.tsx
Labels: Front

#205 Settings Hidden
  front-end/src/components/chat/subComponents/ChatChannelList.tsx
Labels: Front, chat

#207 Clean User Status
  back-end/src/module.game/server/GameSession.ts
  front-end/src/components/HomePageComponent.tsx
  front-end/src/components/ProfileComponent.tsx
  front-end/src/components/UserListComponent.tsx
Labels: Game, Front

#209 Neon profile
  front-end/src/components/ProfileComponent.tsx
Labels: Front

#208 Notif in front from Back
  front-end/src/components/HomePageComponent.tsx
  front-end/src/shared/types.ts
Labels: Front, Back

#230 404 Rando et Match History 2.0
  front-end/public/images/404a.jpg
  front-end/public/images/404b.jpg
  front-end/public/images/404c.jpg
  front-end/src/app/not-found.tsx
  front-end/src/components/MatchHistoryComponent.tsx
  front-end/src/components/UserOptions.tsx
  front-end/src/components/api/ApiReq.ts
  front-end/src/shared/routesApi.ts
  front-end/src/shared/types.ts
Labels: Front

#243 add admin button + crown on owner
  back-end/src/module.channels/channel.controller.ts
  front-end/public/demote.svg
  front-end/public/promote.svg
  front-end/src/components/HomePageComponent.tsx
  front-end/src/components/ProfileComponent.tsx
  front-end/src/components/UserListComponent.tsx
  front-end/src/components/UserOptions.tsx
  front-end/src/components/api/ApiReq.ts
  front-end/src/components/chat/chat.css
  front-end/src/components/chat/subComponents/ChatChannelList.tsx
  front-end/src/components/chat/subComponents/PutDuration.tsx
  front-end/src/shared/DTO/InterfaceDTO.ts
  front-end/src/shared/routesApi.ts
Labels: Front, Back, chat

#253 Diverses ameliorations legeres [UX]
  front-end/src/app/auth/Auth.tsx
  front-end/src/app/callback/Callback.tsx
  front-end/src/app/globals.css
  front-end/src/components/2FA/2FAComponent.tsx
Labels: enhancement, Front

#264 Legere amelioration visuelle de details
  front-end/src/app/globals.css
  front-end/src/components/StatsComponent.tsx
  front-end/src/components/chat/chat.css
  front-end/src/components/chat/subComponents/ChatChannelList.tsx
  front-end/src/components/chat/subComponents/elements/AddUserPrivateChannel.tsx
  front-end/src/components/game/ChallengeList.tsx
Labels: Front

#268 hotfix-RSC-message
  front-end/src/app/auth/Auth.tsx
  front-end/src/components/ProfileComponent.tsx
  front-end/src/components/StatsComponent.tsx
Labels: Front

#269 Hotfix
  front-end/src/app/auth/Auth.tsx
  front-end/src/components/ProfileComponent.tsx
  front-end/src/components/StatsComponent.tsx
Labels: Front

#271 notif-game-comeback
  front-end/src/components/game/Game.tsx
Labels: Game, Front

#273 stats-update-better
  front-end/src/components/StatsComponent.tsx
Labels: Front

#277 suppres-warning
  front-end/src/app/auth/Auth.tsx
  front-end/src/app/globals.css
  front-end/src/components/chat/chat.css
  front-end/src/components/chat/subComponents/CreateChannelSettings.tsx
  front-end/src/components/chat/subComponents/SettingsChannel.tsx
  front-end/src/components/chat/subComponents/elements/ChatChannelListElement.tsx
  front-end/src/components/waiting/LoadingComponent.tsx
Labels: Front

#288 Fix bouton dans match history
  front-end/src/components/MatchHistoryComponent.tsx
  front-end/src/components/UserOptions.tsx
  front-end/src/components/api/ApiReq.ts
Labels: Front
